% rebase('layout.html')

<form id="search-form" action="/boxoffice" method="GET">
    <fieldset class="form-group" disabled>
        <label for="title">Movie Title(s)</label>
        <input id="search-placeholder" class="form-control" type="text" placeholder="Starting up..." />
        <textarea class="form-control" name="movies" rows="5"></textarea>
        <span class="help-block">Start typing to search for a movie</span>

        <label for="period">Time Period</label>
        <select class="form-control" name="period">
            <option value="7d">1 week</option>
            <option value="30d" selected>30 days</option>
            <option value="90d">90 days</option>
            <option value="">Forever</option>
        </select>
    </fieldset>

    <button class="btn btn-primary" id="submit-button">Submit</button>
</form>
