<html>

<head>
    <title>Box Office Hawk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    % if SHARETHIS_PROPERTY_ID:
    <script src="https://platform-api.sharethis.com/js/sharethis.js#property={{SHARETHIS_PROPERTY_ID}}&product=sop" async="async"></script>
    % end

    <script src="/static/{{VIEW_NAME}}.js"></script>

    <!-- have had some trouble importing typeahead via npm -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>
</head>

<body class="container-fluid" data-api-host="{{API_HOST}}">
    <main class="row">
        <section class="col-lg-3 col-md-4">
            {{!base}}
        </section>

        <section class="container col-lg-9 col-md-8">
            <div id="errors" class="alert alert-danger" hidden>
                <button type="button" class="close"><span>&times;</span></button>
                <ul><!-- errors go here --></ul>
            </div>

            <div id="matchups" hidden>
                <h3 class="mt-3">Recent matchups</h3>
                <div id="matchups-list" class="list-group"></div>
            </div>
            <div id="daily-results"></div>
            <div id="cumulative-results"></div>
        </section>
    </main>
</body>

% if GA_TRACKING_ID:
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', '{{GA_TRACKING_ID}}', 'auto');

// automatically track pageview events on URL changes (from pushState)
ga('require', 'urlChangeTracker');

ga('send', 'pageview');
</script>
<script async src="https://www.google-analytics.com/analytics.js"></script>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/autotrack/2.4.1/autotrack.js"></script>
% end

</html>
