#loading-overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: no-repeat center url("/static/img/loading.gif") #fff;
  opacity: 0.75;
  z-index: 2;
}

body.loading #loading-overlay {
  display: block;
}

body.loading .matchup {
  visibility: hidden;
}

.title {
  font-weight: normal;
  letter-spacing: -2px;
  text-transform: lowercase;
}

.title:hover {
  font-weight: normal;
  text-decoration: none;
}

#errors {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 600px;
  margin-left: -300px;
  z-index: 1;
}

#errors ul {
  list-style: none;
  padding-left: 0;
}

/* typeahead styling
 * mostly stolen from https://gist.github.com/mixisLv/f7872a90a8a31157e80364f08c955102
 */
.twitter-typeahead {
  width: 100%;
}
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}
.tt-hint {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #999;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.tt-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;

}
.tt-suggestion {
  display: block;
  padding: 3px 20px;
}
.tt-suggestion.tt-cursor,
.tt-suggestion:hover {
  color: #fff;
  background-color: #428bca;
  cursor: pointer;
}
.tt-suggestion p {
  margin: 0;
}

/* tags input styling */
.bootstrap-tagsinput {
  width: 100%;
}
.bootstrap-tagsinput .tag {
  line-height: 22px;

  /* styles copied & pasted directly from Bootstrap's "badge-primary" class */
  /* without these rules, tags are invisible in Bootstrap 4 */
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10rem;
  color: #fff;
  background-color: #007bff;;
}

/* social sharing fixes */
.sharethis-inline-share-buttons {
  margin-bottom: 10px;

  /* prevent reflow when buttons load */
  height: 32px;
}
.sharethis-inline-share-buttons .st-btn {
  /* for some reason these are a little too wide w/o this */
  width: 32px;
}
.sharethis-inline-share-buttons .st-btn svg {
  /* ...and these are a little off-center otherwise */
  left: -2px;
}

/* chart legend styling */
.highcharts-legend-item a {
  color: inherit;
}
