body.loading:after {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: no-repeat center url("/static/loading.gif") #fff;
  opacity: 0.75;
}

#errors {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 600px;
  margin-left: -300px;
  z-index: 1;
}

#errors ul {
  list-style: none;
  padding-left: 0;
}
